:root{
    --brown:rgb(114,86,74);
    --beige:rgb(225,212,200);
    --black:#231F20;
    --white:#FFFFFF;
}

@font-face
{
    font-family: 'Century Gothic';
    src: url(../Resources/fuente/CenturyGothic.ttf);
}

@font-face
{
    font-family: 'Century Gothic';
    src: url(../Resources/fuente/GOTHICB.TTF);
    font-weight: bold;
}

html, body {
    margin:0;
    padding:0;
    width: 100%;
    /* height: 100vh; */
    box-sizing: border-box;
    font-family: 'Century Gothic',sans-serif;
    scroll-behavior: smooth;
    overflow-x:hidden;
}

h1 {
    font-size: 1.75em;
    margin: 0.5em 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

h2 {
    font-size: 1.25em;
    margin: 0.5em 0;
    width: 100%;
    text-align: center;
    font-weight: 400;
}

h3 {
    margin: 0.75em 0
}

h5{
    font-weight: 500;
    font-size: 0.85em;
    margin: 0.45em 0
}

h6{
    font-weight: 200;
    font-size: 0.75em;
     margin: 0.45em 0
}

img{
    width: 100%;
    vertical-align: middle;
}

/* MAQUETACIÓN DEL INDEX */

.div_index {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    overflow-x:hidden;
}


.div_index > div{
    margin: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column;
    height: 100vh;
}
.div_index > div > figure{
    justify-content:center;
    align-items: center;
    display: flex;
    margin-bottom: 0;
}
.div_index > div > figure > img{
    width: 40%;
}
.div_index > div > header {
    background-color: var(--beige);
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.div_index > div> header > h2 {
    margin-top: 2em;
    margin-bottom: 0.25em;
    font-size: 3em;
    color: var(--brown);
    align-items: flex-end;
    font-weight: bold;
}

.div_index >div> header > p {
    margin-top: 0em;
}

.div_index >div> header > p > a {
    color:  var(--brown);
    text-decoration: none;
    font-size: 2.5em;
}

.div_index > div>header > p > a:hover {
    font-weight: bold;
    color: var(--black);
}


/* MAQUETACIÓN DEL PORFOLIO */

/*Home*/

/* #home > div{
    display: flex;
    flex-direction: column;
}
#home .Mobile{
    display: none;
} */

.intro{
    background-image: url('../Resources/img/bg/Artwork_NoBg2.png');
    background-color: var(--brown);
    background-repeat: no-repeat;
    background-size:50%;
    /* background-size: cover; */
    background-position: center;
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
}
.text-intro-main{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:3em;
    text-shadow: 0.5px 0px var(--brown);
}
.text-intro{
    margin: 1.5em 3em;
    font-size: 1.7em;
    color: var(--beige);
}
.text-intro-left{
    margin-top: 40vh;
}
.text-intro-right{
    text-align: right;
}

/*Menu*/

#menu{
    background-color: var(--beige);
    z-index:1;
    width: 100%;
    display:flex;
    position: fixed;
}

#menu > ul{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em; 
    
}

#menu > ul > li{
    list-style: none;
    text-align: center;
    padding: 1em;
}

#menu .openMenu, .closeMenu{
    display: none;
    align-items: center;
    cursor: pointer;
}

#menu > figure{
    width: 9em;
    margin: 1.0em 1.0em;
    align-content: center;
    justify-content: center;
}
#menu > ul > li > a {
    color: black;
    text-decoration: none;
    font-family: 'Century Gothic',sans-serif;
    font-size: 1.25em;
}

#menu > ul > li:hover{
    background-color: var(--brown);
    color: white;
}
#menu > ul > li:hover > a{
    color: white;
}

.transition {
    background-color: var(--beige);
    color: black;
    padding: 3.5em 0;
}

/*Portfolio*/

#portfolio .portcontent{
    margin: 6em 0;
}

#portfolio > h3 {
    margin-top: 3em;
    width: 100%;
    text-align:center;
    color: var(--brown);
    font-size: 1.5em;
}

.controlDot{
    margin-bottom: 3em;
}
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: var(--beige);
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
.active, .dot:hover {
   background-color: var(--brown);
 }
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
 }
@-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

#portfolio > div > div{
    padding: 0 12em;
    display: none;
    flex-wrap: wrap;
}

#portfolio > div > div > figure{
    flex:30%;
    position: relative;
    margin: 0;
    padding: 0.5em;
}

#portfolio > div > div > figure > a > figcaption{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
    text-align: center;
    background-color: var(--beige);
    opacity: 0;
    color: rgb(114,86,74);
    transition: 1s;
}
#portfolio > div > div > figure > a > figcaption:hover{
    opacity: 1;
}

#portfolio > div > div > figure > p {
    text-align:center;
    color: var(--brown);
    margin:0;
}
a
{
    text-decoration: none;
    color:chocolate;
}

/*Bio*/

#bio > .biocontent{
    margin: 8em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bio > div > figure{
    transform: rotate(90deg);
    MARGIN:0;
    width: 45%;
    padding: 0;
    justify-content: center;
    display:flex;   
}
#bio > div > figure > img{
    height: 14vmax;
    max-height: 15vh;
    width: auto;
    margin:0;
    padding:0;
   
}
#bio > div > div{
    color: var(--brown);
    font-size:1.25em;
    width: 80%;
}

#bio > div > div > div{
    margin-bottom: 1em;
}

/*Contact*/

#contact > div{
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .content{
    margin: 12em 0;
}
#contact .contentfigure{
    width: 30%;
    display:flex;
    justify-content: center;
}
#contact > div > div > figure{
    width: 70%;
}
#contact .content1{
    width: 50%;
    color: var(--brown));
}
#contact .contentText{
    font-size: 1.25em;
}
#contact .content2column{
    display:flex;
}
#contact .tele{
    width: 50%;
    color: black;
}
#contact .email{
    width: 50%;
    color: black;
}

/*Footer*/

footer {
    
    padding: 0em;
    background-color: var(--beige);
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

footer > div > figure{
    width: 25%;   
}


footer > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > div > div {
    width: 75%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.content1{
    color: black;
    width: 50%;
    margin: 0 1.25em;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.content1 > p{
    padding: 0;
    margin:0.5em 1em;
}
.content2{
    margin:0 1.25em;
}
footer > div > div > div > a {
    padding: 3px;
    color: var(--brown);
}

footer > div > div > div> a > i {
    font-size:3.5em;
}

footer > div > div > div > a:hover > i {
    color: black;
}

/* MAQUETACIÓN PARA PANTALLAS DE MENOS DE 1300px */

@media screen and (max-width: 1300px) {

    .div_index > div > figure > img{
        width: 60%;
    }
    .text-intro{
        margin: 1.5em 0em;
    }

    #portfolio > figcaption {
        padding: 1em;
    }
    .div_index >div> header > h2 {
    margin-top: 1.5em;
    font-size: 3em;
    }
    .div_index >div> header > p > a {
    font-size: 2em;
    }
    .div_index > div > figure{
        width: 60%;  
    }
    #portfolio .portcontent{
    margin: 4em 0;
    }
    #portfolio > div > div > figure {
        flex: 30%;
        flex-direction: column;
    }

    #portfolio > div > div {
        padding: 0 6em;
    }
        .div_index >div> header > h2 {
    margin-top: 1.5em;
    font-size: 2.5em;
    }
    .div_index >div> header > p > a {
    font-size: 2em;
    }
    .div_index > div > figure{
        width: 80%;  
    }
    #portfolio > div > div {
        padding: 0;
    }
    #contact .content{
        margin: 8em 0;
    }
}


/* MAQUETACIÓN PARA PANTALLAS TABLET*/
@media screen and (max-width: 1024px) {
    .div_index > div > figure > img{
        width: 70%;
    }
    .intro{
        background-size:85%;
    }
    .text-intro-left{
        font-size:1.2em;
        margin-top: 50vh;
    }
    .text-intro-left > p{
        text-shadow: 1px 1px var(--black);
    }
    .text-intro-right{
        font-size: 1em;
        margin-top: -50vh;
    }

    .transition{
        padding:1.5em;
        margin: 0;
    }
    #menu > ul{
        font-size:1em;
    }
    
   footer > div > figure{
    width: 25%;   
    }
    
    footer > div > div > div> a > i {
    font-size:2em;
    }
    
    .div_index >div> header > h2 {
    margin-top: 1.5em;
    font-size: 2.25em;
    }
    .div_index >div> header > p > a {
    font-size: 1.75em;
    }
    .div_index > div > figure{
        width: 100%;  
    }
    
    #portfolio > div > div {
        padding: 0;
    }
}



/* MAQUETACIÓN PARA PANTALLAS MÓVILES */

@media screen and (max-width: 600px) {    
    .div_index > div > figure > img{
        width: 80%;
    }
    .div_index > .content{
        padding: 0.5em;
        margin:0.5em;
    }
    #menu .mainMenu {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;
        display: none;
        background: rgb(225,212,200);
        font-size: 1.5em;
    }
    #menu .mainMenu .closeMenu {
        display:block;
        position: absolute;
    }
    
    #menu .openMenu {
        margin: 0em 1em;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #menu .closeMenu{
        top:1em;
        font-size: 2em;
    }
    
    
    /* #home .Mobile{
    display: inherit;
    }
    #home .Desktop{
        display: none;
    } */

    .intro{
        background-image: url('../Resources/img/bg/Mobile1.png');
        background-size:cover;
    }
    .text-intro-main{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7em;
    }
    .text-intro{
        font-size:  0.9em !important;
    }
    .text-intro-left{
        margin-top: 65vh;

    }
    .text-intro-right{
        margin-top: -50vh;
        font-size:  1.25em;
    }
    .text-intro-right > p{
        color:var(--brown);
        margin: 0.7em 0em;
    }
    .text-intro-left > p{
        margin: 0.7em 0em;
    }

    h1{
        font-size: 1.25em;
    }
    h2{
        display:none;
    }
    
    .transition{
        padding: 2.5em 0;
    }
    #portfolio .portcontent {
        margin: 0;
    }
    
    #portfolio > div > div > figure > figcaption:hover{
    opacity: 0;
}
    #contact .content1{
        font-size:0.7em;
    }
    #portfolio > div > div > figure {
        flex:auto;
        flex-direction: column;
    }
    #portfolio > div > div {
        padding: 0;
    }
    
    #bio > .biocontent {
        margin: 3em 0.7em;
        justify-content: start;
    }

    #bio > div > figure{
        display:none;
    }
    #bio > div > div{
        font-size: 1.1em;
        width: 100%;
    }
    

    #contact > div > div > figure{
        display:none;
    }
    #contact > .content {
        margin: 2em 1em;
        flex:auto;
        flex-direction: column;
    }
    .tele{
        width: 40%;
        font-size:0.85em;
    }
    .email{
        width: 60%;
        font-size:0.85em;
        max-width: 60%;
    }
    
    
    footer > div {
      flex-direction: column;
    }
     footer > div > figure {
      margin:auto;
         margin-top:1em;
    }

    footer > div > div{
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .content1{
        width: 50%;
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        margin-left: 0;
        padding:0.5em;

    }
    footer .content2{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
       footer > div > div > div > a > i{
        font-size:1.75em;
    }
    
    
    
    .div_index > div{
        padding: 3em;
        height: 85vh;
    }
    .div_index >div> header > h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 2em;
    display: inherit;
    justify-content: center;
    }
    
    .div_index >div> header {
    margin: 3em 3em;
    }
    .div_index >div> header > p > a {
    font-size: 2em;
    }
    .div_index > div > figure{
    width: 100%;  
    }

}
